<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Duff</string>
		<key>country</key>
		<string>United States</string>
		<key>alcoholGrade</key>
		<integer>38</integer>
		<key>photoUrl</key>
		<string>http://lamanzanaingravida.files.wordpress.com/2009/05/cerveza-duff.jpg</string>
	</dict>
</array>
</plist>
